#bufferDisplay {
  background-color: var(--background);
  font-family: Rajdhani;
  text-transform: uppercase;

  grid-area: bufferDisplay;
}

#bufferDisplay > #title {
  color: var(--foreground);
}

.bufferInput {
  margin-right: 0.3rem;
  margin-left: 0.3rem;
  color: var(--select);
  border: dashed var(--select);
  border-width: 0.1rem;
  padding: 0.1rem;
}

#bufferArray {
  padding: 0.3rem;
  height: 1.3rem;
}
