:root {
  --foreground: #d7f266;
  --background: #211e29;
  --top-highlight: #272b37;
  --select: #77d6da;
}

@font-face {
  font-family: Rajdhani;
  src: url(./fonts/Rajdhani/Rajdhani-Light.ttf);
}

#app {
  display: grid;

  grid-template-areas:
    "breachTime bufferDisplay"
    "matrixDisplay sequenceDisplay"
    "matrixDisplay btnDisplay";
}

#btnDisplay {
  grid-area: btnDisplay;
}

#refreshButton {
  margin: auto;
}
