#matrixDisplay {
  grid-area: matrixDisplay;
}

table#codeMatrix {
  background-color: var(--background);
  margin: auto;
}

th.clickedFalse:hover {
  cursor: pointer;
  box-shadow: 0 0 0 3px var(--select);
  color: var(--select);
}

.clickedTrue {
  color: grey;
  font-family: Rajdhani;

  padding: 0.5rem;
}

th.clickedFalse {
  color: var(--foreground);
  font-family: Rajdhani;

  padding: 0.5rem;
}
