#sequenceDisplay {
  background-color: var(--background);

  font-family: Rajdhani;
  text-transform: uppercase;

  grid-area: sequenceDisplay;

  display: grid;
  grid-template-areas:
    "sequenceTitle sequenceTitle"
    "sequenceCodes sequenceRewards";
  grid-template-rows: 20% 80%;
}

#sequenceDisplay > #title {
  color: var(--foreground);
  grid-area: sequenceTitle;
  margin-left: 0.5rem;
}

.codeDisplay:hover {
  cursor: pointer;
  box-shadow: 0 0 0 3px var(--select);
  color: var(--select);
}

.codeDisplay,
.rewardDisplay {
  color: white;
  margin-right: 0.5rem;
}

.sequence,
.reward {
  margin-bottom: 1rem;
}

#sequenceList {
  margin-left: 0.5rem;
  grid-area: sequenceCodes;
}

#rewardList {
  margin-left: 0.5rem;
  grid-area: sequenceRewards;
}
